@import "tailwindcss";

@layer utilities {
  .focus-underline {
    position: relative;
  }

  .focus-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #673ab7;
    /* Google Form Purple */
    transition: width 0.3s ease-in-out;
  }

  .focus-underline:focus-within::after {
    width: 100%;
  }

  .google-shadow {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  }
}